<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/DetalheProduto.css" />


    <script type="text/javascript">

        function increaseCount(a, b) {
            var input = b.previousElementSibling;
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            input.value = value;
        }

        function decreaseCount(a, b) {
            var input = b.nextElementSibling;
            var value = parseInt(input.value, 10);
            if (value > 1) {
                value = isNaN(value) ? 0 : value;
                value--;
                input.value = value;
            }
        }

        class Produto {
            constructor(nome, preco, descricao, fotoEmBase64, quantidade, desconto, idCategoria) {
                this.nome = nome;
                this.preco = preco;
                this.descricao = descricao;
                this.fotoEmBase64 = fotoEmBase64;
                this.quantidade = quantidade;
                this.desconto = desconto;
                this.idCategoria = idCategoria;
            }
        }

        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }




    </script>
</head>


<body>
    <header>
        <nav class="navbar navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/Home">
                    <img src="../../images/logo_1.svg" width="100" />
                </a>


                <div class="d-flex align-items-center">

                    <a class="text-white p-1" asp-area="" asp-controller="Usuario" asp-action="CarregarPerfil">Meu
                        Perfil</a>

                    <a class="text-white p-1" asp-area="" asp-controller="Login" asp-action="LogOff">LogOff</a>

                    <a class="p-2" asp-area="" asp-controller="Carrinho" asp-action="Visualizar">
                        <img src="../../images/carrinho.svg" width="20px">
                    </a>

                </div>
            </div>
        </nav>
        <nav class="navbar " style=" background-color: #236B56">
            <div class="container" id="cat-containers">

                <a class="text-white" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre Nós</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #236B56;">
                <h3 class="panel-title" style="color: white; padding: 30px;" id="title">Produto</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col">
                        <img src="#" id="imgProd" width="450px" height="450px"
                            style="padding-left: 60px; padding-top: 60px; display: block; border-radius: 10px;">
                    </div>
                    <div class="col" style="margin-top: 25px; overflow: auto;" id="colRight">
                        <div class="row">
                            <p id="description">descriçãoLorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vivamus justo sem,
                                luctus quis diam a, condimentum convallis leo. Nam eu tincidunt leo, vehicula venenatis
                                felis. Etiam pretium, turpis at convallis condimentum, neque sapien tempor mi, feugiat
                                tincidunt libero sem non velit. Praesent maximus, risus eu placerat rutrum, magna nulla
                                lobortis ante, vel viverra tortor ipsum eget lorem. Integer lacinia semper faucibus.
                                Vestibulum hendrerit ut erat et tincidunt. In sed viverra magna. Vestibulum eget
                                accumsan lorem. Nam viverra urna id dui venenatis, sed fermentum metus finibus. Etiam
                                sit amet massa diam. Duis volutpat maximus vulputate. Curabitur metus nulla, vulputate
                                et rutrum.</p>
                        </div>
                        <div class="row">
                            <p style="font-weight: bold;" id="price">preço</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Quantidade: </p>
                                <div class="counter">
                                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                    <input type="text" value="1">
                                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                                </div>
                            </div>
                            <div class="col">
                                <p>Disponível: </p>
                                <span class="roundNumber" id="spanEstoque">999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="buttonProd" onclick="efetuaCompra()"><span>Comprar </span></button>
            </div>
        </div>

    </div>

    <script>

        (async function () {
            let produto = await executeGetWithProductID({ route: "products" });
            console.log(produto);
            document.getElementById('title').innerText = produto.nome;
            document.getElementById('imgProd').src = "data:image/webp;base64," + produto.fotoEmBase64;
            document.getElementById('description').innerText = produto.descricao;
            document.getElementById('price').innerText = "R$ " + produto.preco;
            document.getElementById('spanEstoque').innerText = produto.quantidade;

        })();

        async function executeGetWithProductID(params) {
            return new Promise(
                function (resolve, reject) {

                    let idProd = sessionStorage.getItem('produtoClicado');
                    fetch(`http://localhost:8081/${params.route}?` + new URLSearchParams({
                        id: idProd
                    }), {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(resp => {
                        if (!resp.ok) {
                            throw new Error(`HTTP error: ${resp.status}`);
                        }

                        const json = resp.json();
                        resolve(json)

                    }).catch(err => {
                        reject(err)

                    })

                }

            )

        }

        function efetuaCompra() {

        }

    </script>
</body>
