﻿<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>



    <script type="text/javascript">

        class Produto {
            constructor(nome, preco, descricao, foto, quantidade, desconto, idCategoria) {
                this.nome = nome;
                this.preco = preco;
                this.descricao = descricao;
                this.foto = foto;
                this.quantidade = quantidade;
                this.desconto = desconto;
                this.idCategoria = idCategoria;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        async function CreateProduct() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                let nome = document.getElementById('nome').value;
                let preco = document.getElementById('preco').value;
                let descricao = document.getElementById('descricao').value;

                let fotoInput = document.querySelector('#foto');        

                let fotoBase64 = getBase64(fotoInput.files[0]);     

                let quantidade = document.getElementById('quantidade').value;
                let desconto = document.getElementById('desconto').value;
                let idCategoria = document.getElementById('idCategoria').value;


                product = new Produto(nome, preco, descricao, fotoBase64, quantidade, desconto,idCategoria);

                try {
                    addres = await executePostWithAuthentication({ route: 'products', data: product })
                    console.log(product)
                   // window.location.href = "../Usuario/Perfil.html";
                }
                catch (err) {
                    alert(`Erro: ${err}`)
                }
            }

        }

        function getBase64(file) {
        var reader = new FileReader();
        
        reader.readAsDataURL(file);
        //reader.readAsText(file);
        reader.onload = function () {
            console.log(reader.result);
            document.getElementById('img').src = reader.result;
            document.getElementById('img').style.display = 'block';
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };

        console.log(reader.result);
        return reader.result;
    }

    function displayImage(){
        let fotoInput = document.querySelector('#foto');  
        var reader = new FileReader();
        
        reader.readAsDataURL(fotoInput.files[0]);
        //reader.readAsText(file);
        reader.onload = function () {
            console.log(reader.result);
            document.getElementById('img').src = reader.result;
            document.getElementById('img').style.display = 'block';
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };

        console.log(reader.result);
    }


        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }


        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "hide"
        }


        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="nome" class="control-label"></label>
                        <input id="nome" type="text" name="nome" class="form-control camposDetalhes" required
                            placeholder='nome...' />

                        <label for="preco" class="control-label"></label>
                        <input id="preco" type="number" step="0.01" name="preco" class="form-control camposDetalhes"
                            required />

                        <label for="descricao" class="control-label"></label>
                        <input id="descricao" type="text" name="descricao" class="form-control camposDetalhes" required
                            placeholder='descricao...' />

                        <label for="quantidade" class="control-label"></label>
                        <input id="quantidade" type="number" min="0" step="1" name="quantidade"
                            class="form-control camposDetalhes" required />

                        <label for="desconto" class="control-label"></label>
                        <input id="desconto" type="number" step="0.01" name="desconto" class="form-control camposDetalhes"
                            required />

                        <label for="idCategoria" class="control-label"></label>
                        <input id="idCategoria" type="text" name="idCategoria.." class="form-control camposDetalhes"
                            required placeholder='idCategoria...' />

                        <label for="foto" class="control-label"></label>
                        <input type="file" accept="image/*" id="foto" class="form-control" onchange="displayImage()">

                        <img id="img" src="#" style="display: none" width="300px" height="300px">

                        <input type="submit" value="Cadastrar" class="btn btn-success entrar"
                            onclick="CreateProduct()" />
                        <span class="text-danger" id="mensagemErro"></span>
                        
                    </div>
                </div>
            </div>
    </section>

</body>