<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>



    <script type="text/javascript">

        class TipoUsuario {
            constructor(tipo) {
                this.tipo = tipo;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        async function CreateTipoUser() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                let tipo = document.getElementById('tipo').value;
                Tipo = new TipoUsuario(tipo);

                try {
                    Tipo = await executePostWithAuthentication({ route: 'typeUser' ,data:Tipo})
                    console.log(Tipo)
                    //window.location.href = "../Usuario/Perfil.html";
                }
                catch (err) {
                    alert(`Erro: ${err}`)
                }
            }



        }




        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }


        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "hide"
        }


        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="tipo" class="control-label"></label>
                        <input id="tipo" type="text" name="tipo" class="form-control camposDetalhes" required
                            placeholder='tipo de usuario...' />

                        <input type="submit" value="Cadastrar" class="btn btn-success entrar"
                            onclick="CreateTipoUser()" />
                        <span class="text-danger" id="mensagemErro"></span>
                    </div>
                </div>
            </div>
    </section>

</body>