<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>



    <script type="text/javascript">

        class TipoUsuario {
            constructor(id, tipo) {
                this.id = id
                this.tipo = tipo;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        function getData() {
            var Editar = location.search.substring(1);
            var id = Editar.split("Editar=");
            let tipoNome = document.getElementById('tipo').value;

            if (id.length != 2)
                id = '';
            else
                id = id[1];


            const tipo = new TipoUsuario(id, tipoNome);

            return tipo;
        }

        async function CreateTipoUser() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                tipo = getData()

                try {
                    Tipo = await executePostWithAuthentication({ route: 'typeUser', data: tipo })
                    console.log(Tipo)
                    //window.location.href = "../Usuario/Perfil.html";
                }
                catch (err) {
                    alert(`Erro: ${err}`)
                }
            }



        }


        async function EditTipo() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                tipo = getData();

                try {
                    tipoAlt = await executePutWithAuthentication({ route: 'typeUser', data: tipo })
                    console.log(tipoAlt)
                    alert("alteração concluída!")
                }
                catch (err) {
                    alert(`Erro: ${err}`)
                }
            }



        }

        async function ChangeScreenToEdit(id) {
            if (localStorage.getItem('id') == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }

            tipo = await filltipo(id)
            document.getElementById("tipo").setAttribute('value', tipo.tipo);
            document.getElementById("btn").setAttribute('value', "Editar");
        }

        async function filltipo(id) {
            try {
                users = await executeGetWithAuthentication({ route: 'typeUser?id=' + id })
                return users;
            }
            catch (err) {
                alert(`Erro: ${err}`)
            }
        }


        async function CreateEditUser() {

            var Editar = location.search.substring(1);
            var id = Editar.split("Editar=");

            if (id.length == 2) {
                console.log(`Alterando tela`);
                EditTipo();

            }
            else {
                CreateTipoUser();
            }

        }





        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }


        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            var Editar = location.search.substring(1);
            var id = Editar.split("Editar=");

            console.log(`Editar: ${Editar}`);
            if (id.length == 2) {
                console.log(`Alterando tela`);
                ChangeScreenToEdit(id[1]);
            }
            spanErro.className = "hide"
        }



        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="tipo" class="control-label"></label>
                        <input id="tipo" type="text" name="tipo" class="form-control camposDetalhes" required
                            placeholder='tipo de usuario...' />

                        <input id="btn" type="submit" value="Cadastrar" class="btn btn-success entrar"
                            onclick="CreateEditUser()" />
                        <span class="text-danger" id="mensagemErro"></span>
                    </div>
                </div>
            </div>
    </section>

</body>