<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />



    <script type="text/javascript">

        class Usuario {
            constructor(nome, email, senha, cpf, idTipoUsuario) {
                this.nome = nome;
                this.email = email;
                this.senha = senha;
                this.cpf = cpf;
                this.idTipoUsuario = idTipoUsuario;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        async function CreateUser() {
            let username = document.getElementById('us').value;
            let password = document.getElementById('pw').value;
            let passwordConfirmacao = document.getElementById('pw2').value;
            let nome = document.getElementById('nome').value;
            let cpf = document.getElementById('cpf').value;
            let idTipoUsuario = document.getElementById('tipoUser').value;

            const user = new Usuario(nome, username, password, cpf,idTipoUsuario);



            try {
                const response = await fetch(`http://localhost:8081/register`, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify(user)

                });
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                const json = await response.json();

                window.location.href = "../Home/index.html";


            }
            catch (error) {
                showError("Usuário ou senha inválidos");
            }

        }




        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }


        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "hide"
        }


        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="usuario" class="control-label"></label>
                        <input id="us" type="text" name="usuario" class="form-control camposDetalhes" required
                            placeholder='Email...' />

                        <label for="senha" class="control-label"></label>
                        <input id="pw" type="password" name="senha" class="form-control camposDetalhes" required
                            placeholder='Senha...' />

                        <label for="senhaConfirmacao" class="control-label"></label>
                        <input id="pw2" type="password" name="senhaConfirmacao" class="form-control camposDetalhes"
                            required placeholder='Confirme sua senha...' />

                        <label for="nome" class="control-label"></label>
                        <input id="nome" type="text" name="Nome" class="form-control camposDetalhes" required
                            placeholder='Nome...' />

                        <label for="cpf" class="control-label"></label>
                        <input id="cpf" type="text" name="cpf.." class="form-control camposDetalhes" required
                            placeholder='cpf...' />

                        <label for="tipoUser" class="control-label"></label>
                        <input id="tipoUser" type="text" name="TipoUser" class="form-control camposDetalhes" required
                            placeholder='tipo de usuário...' />

                        <input type="submit" value="Cadastrar" class="btn btn-success entrar" onclick="CreateUser()" />
                        <span class="text-danger" id="mensagemErro"></span>
                    </div>
                </div>
            </div>
    </section>

</body>