<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>



    <script type="text/javascript">

        class Usuario {
            constructor(id,nome, email, senha, cpf, idTipoUsuario) {
                this.id=id;
                this.nome = nome;
                this.email = email;
                this.senha = senha;
                this.cpf = cpf;
                this.idTipoUsuario = idTipoUsuario;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        function getData ()
        {
            let username = document.getElementById('us').value;
            let password = document.getElementById('pw').value;
            let passwordConfirmacao = document.getElementById('pw2').value;
            let nome = document.getElementById('nome').value;
            let cpf = document.getElementById('cpf').value;
            let idTipoUsuario = document.getElementById('tipoUser').value;

            let id=localStorage.getItem('id');
            if(id==null || id ==undefined)
                id='';


            const user = new Usuario(id,nome, username, password, cpf, idTipoUsuario);

            return user;
        }

        async function NewUser()
        {
            user =getData();


            try {
                const response = await fetch(`http://localhost:8081/register`, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify(user)

                });
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                const json = await response.json();

                window.location.href = "../Home/index.html";


            }
            catch (error) {
                showError("Usuário ou senha inválidos");
            }

        }


        async function CreateEditUser() {

            var Editar = location.search.substring(1);

            if (Editar === 'Editar=1') {
                console.log(`Alterando tela`);
                EditUser();
                
            }
            else
            {
                NewUser();
            }

        }

        async function EditUser() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                user =getData();

                try {
                    userAlt = await executePutWithAuthentication({ route: 'user', data: user })
                    console.log(userAlt)
                    localStorage.setItem('username',user.nome);
                    window.location.href = "../Usuario/Perfil.html";
                }
                catch (err) {
                    alert(`Erro: ${err}`)
                }
            }



        }




        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }

        async function fillUser(id) {
            try {
                users = await executeGetWithAuthentication({ route: 'user?id=' + id })
                return users;
            }
            catch (err) {
                alert(`Erro: ${err}`)
            }
        }


        async function ChangeScreenToEdit() {
            if (localStorage.getItem('id') == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }

            user = await fillUser(localStorage.getItem('id'))

            document.getElementById("us").setAttribute('value', user.email);
            document.getElementById("nome").setAttribute('value', user.nome);
            document.getElementById("cpf").setAttribute('value', user.cpf);
            document.getElementById("tipoUser").setAttribute('value', user.idTipoUsuario);
            document.getElementById("tipoUser").setAttribute('value', user.idTipoUsuario);
            document.getElementById("btn").setAttribute('value', "Editar");
        }

        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            var Editar = location.search.substring(1);
            console.log(`Editar: ${Editar}`);
            if (Editar === 'Editar=1') {
                console.log(`Alterando tela`);
                ChangeScreenToEdit();
            }
            spanErro.className = "hide"
        }


        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="usuario" class="control-label"></label>
                        <input id="us" type="text" name="usuario" class="form-control camposDetalhes" required
                            placeholder='Email...' />

                        <label for="senha" class="control-label"></label>
                        <input id="pw" type="password" name="senha" class="form-control camposDetalhes" required
                            placeholder='Senha...' />

                        <label for="senhaConfirmacao" class="control-label"></label>
                        <input id="pw2" type="password" name="senhaConfirmacao" class="form-control camposDetalhes"
                            required placeholder='Confirme sua senha...' />

                        <label for="nome" class="control-label"></label>
                        <input id="nome" type="text" name="Nome" class="form-control camposDetalhes" required
                            placeholder='Nome...' />

                        <label for="cpf" class="control-label"></label>
                        <input id="cpf" type="text" name="cpf.." class="form-control camposDetalhes" required
                            placeholder='cpf...' />

                        <label for="tipoUser" class="control-label"></label>
                        <input id="tipoUser" type="text" name="TipoUser" class="form-control camposDetalhes" required
                            placeholder='tipo de usuário...' />

                        <input id="btn" type="submit" value="Cadastrar" class="btn btn-success entrar"
                            onclick="CreateEditUser()" />
                        <span class="text-danger" id="mensagemErro"></span>
                    </div>
                </div>
            </div>
    </section>

</body>