<head>
    <link href="../../css/TelaLogin.css" rel="stylesheet" />
    <link href="../../css/common.css" rel="stylesheet" />
    <script src="../../js/api.js"></script>



    <script type="text/javascript">

        class Endereco {
            constructor(cep, cidade, complemento, numero, rua, idUsuario) {
                this.cep = cep;
                this.cidade = cidade;
                this.complemento = complemento;
                this.numero = numero;
                this.rua = rua;
                this.idUsuario = idUsuario;
            }
        }
        //function login(theForm) {
        //console.log(theForm);
        //console.log("login" + theForm.usuario);
        //console.log("senha" + theForm.senha);
        //}

        async function CreateAdrres() {

            let idUsuario = localStorage.getItem('id');
            if (idUsuario == null) {
                alert("Faça login!");
                window.location.href = "../Login/index.html";
            }
            else {

                let cep = document.getElementById('cep').value;
                let cidade = document.getElementById('cidade').value;
                let complemento = document.getElementById('complemento').value;
                let numero = document.getElementById('numero').value;
                let rua = document.getElementById('rua').value;


                const addres = new Endereco(cep, cidade, complemento, numero, rua,idUsuario);



                try {
                    const response = await fetch(`http://localhost:8081/register`, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify(user)

                    });
                    if (!response.ok) {
                        throw new Error(`HTTP error: ${response.status}`);
                    }

                    const json = await response.json();

                    window.location.href = "../Home/index.html";


                }
                catch (error) {
                    showError("Usuário ou senha inválidos");
                }
            }



        }




        function showError(msg) {

            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "text-danger"

            //texto a ser mostrado
            spanErro.innerHTML = msg
        }


        function onLoad() {
            let spanErro = document.getElementById("mensagemErro");
            spanErro.className = "hide"
        }


        //evento de on load
        window.addEventListener('load', onLoad);

    </script>
</head>

<body>
    <section class="painel">
        <h2></h2>

        <div class="row">
            <div class="col-lg-3">
                <div>

                    <div class="campos">
                        <label for="cep" class="control-label"></label>
                        <input id="cep" type="text" name="cep" class="form-control camposDetalhes" required
                            placeholder='cep...' />

                        <label for="cidade" class="control-label"></label>
                        <input id="cidade" type="text" name="cidade" class="form-control camposDetalhes" required
                            placeholder='cidade...' />

                        <label for="complemento" class="control-label"></label>
                        <input id="complemento" type="text" name="complemento.." class="form-control camposDetalhes"
                            required placeholder='complemento...' />

                        <label for="numero" class="control-label"></label>
                        <input id="numero" type="number" min="0" step="1" name="TipoUser"
                            class="form-control camposDetalhes" required />

                        <label for="rua" class="control-label"></label>
                        <input id="rua" type="text" name="rua.." class="form-control camposDetalhes" required
                            placeholder='rua...' />

                        <input type="submit" value="Cadastrar" class="btn btn-success entrar"
                            onclick="CreateAdrres()" />
                        <span class="text-danger" id="mensagemErro"></span>
                    </div>
                </div>
            </div>
    </section>

</body>