<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../../css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/mContainer.css" />
    <script src="../../js/api.js"></script>

    <script type="text/javascript">

        function onLoad() {
            console.log("onLoad");
            fillAddres();
        }

        async function fillAddres() {


            let id=localStorage.getItem('id');
            if(id==null)
            {
                alert("Faça login!");
                window.location.href = "../Login/Index.html";

            }
            try {
                data = await executeGetWithAuthentication({ route: 'UserAddres?idUser='+localStorage.getItem('id') })

                console.log(data)



                //fill address
                table = document.getElementById("table-address")
                if(data.length == 0)
                {
                    divNoData = document.createElement("div")
                    divNoData.innerHTML = "Não há dados"
                    table.appendChild(divNoData)
                    
                }
                
                data.map(end=>{
                    tr = document.createElement("tr")
                    tdActions = document.createElement("td")


                    editLink = document.createElement("a")
                    editLink.setAttribute("href","Endereco/Edit?id=@a.Id")
                    editLink.className = "btn btn-info"
                    editLink.innerHTML = "Editar"



                    remLink = document.createElement("a")
                    remLink.setAttribute("href","javascript:apagarRegistro(@a.Id, 'Endereco')")
                    remLink.className = "btn btn-danger"
                    remLink.innerHTML = "Apagar"


                    tdActions.appendChild(editLink)
                    tdActions.appendChild(remLink)

                    tr.appendChild(tdActions)

                    tdId = document.createElement("td")
                    tdId.innerHTML = end.id
                    tr.appendChild(tdId)

                    tdRua = document.createElement("td")
                    tdRua.innerHTML = end.rua
                    tr.appendChild(tdRua)

                    tdComplemento = document.createElement("td")
                    tdComplemento.innerHTML = end.complemento
                    tr.appendChild(tdComplemento)

                    tdNum = document.createElement("td")
                    tdNum.innerHTML = end.numero
                    tr.appendChild(tdNum)

                    tdCEP = document.createElement("td")
                    tdCEP.innerHTML = end.cep
                    tr.appendChild(tdCEP)

                    tdCity = document.createElement("td")
                    tdCity.innerHTML = end.cidade
                    tr.appendChild(tdCity)

                    tdStatus = document.createElement("td")
                    tdStatus.innerHTML = end.status ? "ativo" : "inativo"
                    tr.appendChild(tdStatus)

                    table.appendChild(tr)

                })
                


            }
            catch (err) {
                alert(`Erro: ${err}`)
            }
        }

        //evento de on load
        window.addEventListener('load', onLoad);

    </script>

</head>
<body>
    <header class="customHeader">
        <object style="overflow: hidden;width: 101%;height: 20vh;" type="text/html" data="../Shared/Header.html"></object>

    </header>
    <div class="m-container">
        <h2>Relação de Endereços</h2>

        <br />
        <a href="../Endereco/Form.html" class="btn btn-success">Novo Registro</a>
        <br />
        <div class="d-flex flex-column">

                <table id="table-address" class="m-table-center">
                    <tr>
                        <th>Ações</th>
                        <th>Id</th>
                        <th>Rua</th>
                        <th>Complemento</th>
                        <th>Número</th>
                        <th>CEP</th>
                        <th>Cidade</th>
                        <th>statusEnd </th>
                    </tr>

                </table>


        </div>

    </div>
</body>
