

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/Filtro.css" />
    <link rel="stylesheet" href="../../css/paginacao.css" />
    <script src="../../js/api.js"></script>

    <script type="text/javascript">

         function onLoad()
        {
            console.log("onLoad");
            fillProducts();
        }

        async function fillProducts(){
            try{
                produtos = await executeGet({route:'products'})
                console.log(produtos)
                

                if(produtos.length > 0)
                {
                    divConteudo = document.getElementById("conteudo")
                    divCardContainer = document.createElement("div")
                    divCardContainer.className = "container-card"
                    produtos.map(produto=>{
                        console.log(produto)

                        divCard = document.createElement("div")
                        divCard.className = "card"

                        divCardBody = document.createElement("div")
                        
                        image = document.createElement("img")
                        image.className = "image-products img-responsive"
                        image.setAtribute("src","https://d1bh8ymjsytgwi.cloudfront.net/Custom/Content/Products/20/04/barraca-panda-para-2-pessoas-nautika-m1.jpg") 

                        divCard.appendChild(image)


                        cardTitle = document.createElement("h6")
                        cardTitle.innerHTML = produto.nome

                        pPrice = document.createElement("card-price")
                        bBoldPrice = document.createElement("b")
                        bBoldPrice.innerHTML = `R$ ${produto.preco}`

                        pPrice.appendChild(bBoldPrice)

                        divCardBody.appendChild(cardTitle)
                        divCardBody.appendChild(pPrice)

                        aDetalhes = document.createElement("a")
                        aComprar = document.createElement("a")

                        aDetalhes.className = "btn-detalhes btn btn-secondary"
                        aDetalhes.innerHTML = "Detalhes" 

                        aComprar.className = "btn-comprar btn btn-success"
                        aComprar.className = "Comprar"

                        divCardBody.appendChild(aDetalhes)
                        divCardBody.appendChild(aComprar)

                        divCard.appendChild(divCardBody)
                        divCardContainer.appendChild(divCard)
                    })

                    divConteudo.appendChild(divCardContainer)

                }
            }
            catch(err){
                alert(`Falha ao carregar produtos: ${err}`)
            }
        }

    //evento de on load
    window.addEventListener('load',onLoad);

    </script>
</head>
<body>
    <header class="customHeader">

        <object style="overflow: hidden;width: 101%;height: 20vh;" type="text/html" data="../Shared/Header.html"></object>
    
    </header>
    <div class="filtros-container">
        <div class="filtros-title"><p>Filtros</p></div>
        <div class="filtros-item-group">
            <div class="filtro-item-subgroup">
                <label>Valor Inicial:</label>
                <input  id="input-val-ini" type="number" placeholder="10,00" />
                <label>Valor Final:</label>
                <input id="input-val-fim" type="number" placeholder="1000,00" />
            </div>
            <div class="filtro-item-subgroup">
                <label>Nome:</label>
                <input id="input-txt-nome" type="text" placeholder="Barraca Maravilha" />
            </div>
            <button id="btn-relat" >Pesquisar</button>

        </div>

    </div>

    <div id="conteudo">

    </div>
</body>





