.hide{
    display: none;
}

.customHeader{
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.customHeader object::-webkit-scrollbar{
    display: none;

}

.customHeader::-webkit-scrollbar{
    display: none;
}

body {
        /* Margin bottom by footer height */
        background-color: #E5E5E5;
}  


.container{
    width: 64vw;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding-top: 24px;
    margin-top: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 16px;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 16px;
}

.card label,input{
    margin-top: 16px;
    border-radius: 8px;
    min-width: 60%;
    max-width: 80%;
}

.input-field{
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    height: 36px;
    color: #000000;
}