body {
    background: #E5E5E5;
    position: relative;
}



.painelGeral {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 87px;
    text-align: left;
    padding: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 65px;
    display: flex;
    flex-direction: column;
    max-width: 54vw;
    margin-top: 16px;
}

.painelGeral section{
    padding: 16px;
}

.painelDados {
    margin: 10px 0;
    background: #F6FFF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    line-height: 60px;
}
.painelDados h2 {
        margin-bottom: 10px;
    }

.editar {
    padding-left: 20px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
}


.enderecos {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background: #F9F9F9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
}

    .enderecos select {
        margin-top: 40px;
    }

    .enderecos a {
        color: #236B56;
    }


.editarEndereco {
    height: 30px;
    position: absolute;
    bottom: 30px;
}

.editarDadosPessoais {
    position: absolute;
    top: 400px;
}

.enderecoComponentes {
    padding-bottom: 10px;
}

    .enderecoComponentes dt {
        display: inline-block;
        margin-right: 130px;
        vertical-align: top;
        height:38px;
        width: 245px;
        margin: 2px;
        padding-bottom: 10px;

        font-size:20px;
    }

.listapedidos {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background: #F9F9F9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
}