@page
@model N2_Ecommerce_adventure.Views.Gerencia.IndexModel
@{
}
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../../css/common.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Tela Gerencia.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="~/js/TelaGerencia.js"></script>
</head>

<body>
    <header class="customHeader">
        <object style="overflow: hidden;width: 101%;height: 20vh;" type="text/html" data="../Shared/Header.html"></object>

    </header>
    
    <section class="painel">
        <div class="ger-container">
            <div class="ger-container-head">
                <h3>Gerência</h3>
            </div>
            <div class="ger-container-body">
                <div class="ger-container-item" id="item-user" onclick="navigateTo(this)">
                    <p>Usuários</p>
                </div>
                <div class="ger-container-item" id="item-prod" onclick="navigateTo(this)">
                    <p>Produtos</p>
                </div>
                <div class="ger-container-item" id="item-ped" onclick="navigateTo(this)">
                    <p>Pedidos</p>
                </div>
                <div class="ger-container-item" id="item-end" onclick="navigateTo(this)">
                    <p>Endereços</p>
                </div>
                <div class="ger-container-item" id="item-cat" onclick="navigateTo(this)">
                    <p>Categorias de Produtos</p>
                </div>
                <div class="ger-container-item" id="item-relat" onclick="navigateTo(this)">
                    <p>Relatórios</p>
                </div>
            </div>

            </div>
    </section>

</body>