
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../../css/common.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../css/mContainer.css" />

</head>
<body>
    <header class="customHeader">

        <object style="overflow: hidden;width: 101%;height: 20vh;" type="text/html" data="../Shared/Header.html"></object>
    
    </header>
    <div class="m-container">
        <h1>Sobre o Barracão Store</h1>

        <p>Esta é a loja Barracão Store, que é voltada a acessórios e equipamentos para pesca, caça e camping em geral.</p>
        <p>Crie sua conta, logue e navegue pelo site. Faça as suas compras adicionando-as no carrinho e verifique o status do seu pedido para acompanhar o processo. </p>
        <p>Cheque o seu perfil de usuário para editar seus endereços de entrega e ver o seu histórico de pedidos.</p>
        <p>Boas compras!</p>
        <br />
        <p><b>Integrantes do grupo</b></p>
        <p> • Lucas Santos Costa (RA: 081190015)</p>
        <p> • Gabriel Alves Gouveia (RA: )</p>
        <p> • Rodrigo Emiliano de Oliveira (RA: 081190004)</p>
        <p> • Yago Jose Barros Caetano (RA: 081190027)</p>
    </div>

</body>
